/* your styles go here */

html,body {
    height: 100% !important;
}

body {
    min-height: 100% !important;
}


.control-nav {
    list-style-type: none;
    margin-top: 10px;
}

.control-nav li {
    margin-top: 10px;
}